header img{
    width: 300px;
}
input{
   text-transform: uppercase; 
}
#res{
    font-size: 16px;
    text-align: center;
    color: black;
    font-weight: bold;
   
}
#res2{
    font-size: 16px;
    text-align: center;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}

@media (max-width:767px){
    .container{
        max-width: 90%;
    }
    
    #res ,#res2{
        font-size: 12px;
    }
}